$textColor: #fff;
$primaryColor: #d9a257;
$thirdColor: rgba(255, 255, 255, .5);
$bgColor: #1f1f20;
$bgSecondColor: #252527;

$titleFontFamily: 'Josefin Sans', sans-serif;
$textFontFamily: 'Poppins', sans-serif;